body {
    margin: 0;
    padding-bottom: 150px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.top-bar {
    background-color: red;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.left-section {
    display: flex;
    align-items: center;
}

.center-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 40px; /* distanza tra i loghi */
}

.top-logo {
    height: 280px;
    object-fit: contain;
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.4));
     margin-right: 20px;
}

/* TIKTOK LOGO */
.top-logo-tiktok {
    height: 90px;          /* MODIFICA QUI */
    object-fit: contain;
    filter: drop-shadow(0 6px 12px rgba(0,0,0,0.4));
}

/* INSTAGRAM LOGO */
.top-logo-instagram {
    height: 90px;          /* MODIFICA QUI */
    object-fit: contain;
    filter: drop-shadow(0 6px 12px rgba(0,0,0,0.4));
}

/* YOUTUBE LOGO */
.top-logo-yt {
    height: 200px;          /* MODIFICA QUI */
    object-fit: contain;
    filter: drop-shadow(0 6px 12px rgba(0,0,0,0.4));
}



.box {
    background-color: rgb(172, 172, 172);
    width: 300px;
    height: 650px;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    text-align: center;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(
        135deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        magenta,
        red
    );
    background-size: 400% 400%;
    animation: rainbow 10s ease infinite;
}

.tiktok-embed {
  width: 100% !important;
  height: 100% !important;
  transform: scale(0.85);
  transform-origin: top center;
}

.box2 {
    background-color: rgb(172, 172, 172);
    width: 300px;
    height: 650px;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(
        135deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        magenta,
        red
    );
    background-size: 800% 800%;
    animation: rainbow 10s ease infinite;
}

.box3 {
    background-color: rgb(172, 172, 172);
    width: 300px;
    height: 650px;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(
        135deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        magenta,
        red
    );
    background-size: 800% 800%;
    animation: rainbow 10s ease infinite;
}

.box4 {
    background-color: rgb(172, 172, 172);
    width: 300px;
    height: 650px;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(
        135deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        magenta,
        red
    );
    background-size: 800% 800%;
    animation: rainbow 10s ease infinite;
}

.box5 {
    background-color: rgb(172, 172, 172);
    width: 300px;
    height: 650px;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(
        135deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        magenta,
        red
    );
    background-size: 800% 800%;
    animation: rainbow 10s ease infinite;
}

.box6 {
    background-color: rgb(172, 172, 172);
    width: 300px;
    height: 650px;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(
        135deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        magenta,
        red
    );
    background-size: 800% 800%;
    animation: rainbow 10s ease infinite;
}



@keyframes rainbow {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}